#container {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  background-color: #C75400;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  #container div {
    width: 50px;
    height: 50px;
    background-color: #B3A08F;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s ease; }

.played {
  background-color: #635446 !important; }

/*# sourceMappingURL=style.css.map */
