#container {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  background-color: #C75400;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  div {
    width: 60px;
    height: 60px;
    background-color: #B3A08F;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s ease;
  }
}
.played{
    background-color: rgb(99, 84, 70) !important;
}